body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('img/herbs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-footer {
    border-top: solid lightgray 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}