body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('img/herbs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section {
    background-color: rgba(0, 0, 0, 0.1);
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    z-index: 999;
}

.quiz-footer {
    border-top: solid lightgray 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-success, .bg-danger {
    color: white;
}

.hover-pointer {
    cursor: pointer;
}

.blackscreen {
    z-index: 900;
    background-color: black;
}

.win-document {
    position: absolute;
    top: 42px;
    left: 80px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 19px;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both !important;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media screen and (max-height: 885px) {
    body {
        height: 100%;
        background-size: auto;
    }
}